<!DOCTYPE html>
<html>

<head>
  <title>Express Controllers</title>
</head>

<body>
  <h1>About Page</h1>
  <h1><%= name %></h1>
  <h3>The time is now <%= new Date() %></h3>

  <a href="/index">index</a>
  <h5>I spent too much on shoes that I only wear once or twice!</h5>
  <a href="/contact">contact</a>
</body>

</html>
